:host {
  display: block;
}
div{
  width: 20px;
  height: 20px;
  background-color:rgb(255, 1, 1) ;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p{
  color:white;
  font-weight: bold;
}
div:hover + .warning{
  position: relative;
  display: block;
  color: red;
  z-index: -1;
}
.warning{
  display: none;
}