.container{
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%,50%);
}
.toggle-btn{
  width: 40px;
  height: 18px;
  background-color: grey;
  border-radius: 40px;
}
.toggle-btn > .inner-circle{
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;

}
.toggle-btn.active{
  background-color: pink;
}
.toggle-btn.active > .inner-circle{
  transform: translateX(21px);
}
